@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    position: absolute;
    width: 1440px;
    left: 12.17%;
    height: 1024px;
    background: #F3F5FC;
}

header{
    display: flex;
    position: absolute;
    width: 120px;
    height: 48px;
    top: 40px;
    left: 40px;
    justify-content: center;
}

main{
    position: relative;
    width: 100%;
    height: 100%;
}


.logo-alura{
    width: 31.09px;
    height: 48px;
}

.ingreseTextoAqui{
    position: absolute;
    width: 577px;
    height: 560px;
    top: 168px;
    left: 240px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0a3871;
    border: none;
    background-color: #F3F5FC;
}

.ingreseTextoAqui:focus{
    outline: none;
}

.rectangulo{
    display: flex;
    position: absolute;
    width: 400px;
    right: 40px;
    top: 40px;
    bottom: 40px;
    background-color: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedorMensajesRectangulo{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.ningunMensajeEncontrado{
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.mensajeRecuadro{
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.contenedorAdvertencia{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    bottom: 155px;
}

.signoExclamacion{
    width: 16px;
    height: 16px;
}

.textoAdvertencia{
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

.contenedorBotones{
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    bottom: 72px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

.botonEncriptar{
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.botonDesencriptar{
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.botonEncriptar:hover{
    color: #0A3871;
    background: #D8DFE8;
    transition: .2s;
    cursor: pointer;
}

.botonDesencriptar:hover{
    color: #FFFFFF;
    background: #0A3871;
    transition: .2s;
    cursor: pointer;
}

.rectangulo2{
    display: none;
    position: absolute;
    width: 400px;
    right: 40px;
    top: 40px;
    bottom: 40px;
    background-color: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textarea{
    position: relative;
    width: 80%;
    height: 675px;
    margin: 32px;
    border: none;
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.botonCopiar{
    position: relative;
    width: 328px;
    height: 67px;
    margin: 0px 32px 32px 32px;
    background: #FFFFFF;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.botonCopiar:hover{
    background: #0A3871;
    color: #FFFFFF;
    transition: .2s;
    cursor: pointer;
}

.toastify{
    background: #0a3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 1174px) {
    body{
        background: rgb(243, 245, 252);
        position: absolute;
        width: 768px;
        height: 1174px;
        left: 0px;
        right: 0px;
    }

    header{
        display: block;
        position: absolute;
        left: 5.21%;
        right: 90.74%;
        top: 6.25%;
        bottom: 89.8%;
    }


    .ingreseTextoAqui{
        position: absolute;
        width: 688px;
        height: 48px;
        left: 40px;
        top: 240px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: #0A3871;
    }


    .contenedorAdvertencia{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;

        position: absolute;
        width: 229px;
        height: 18px;
        left: 40px;
        top: 836px;
    }

    .contenedorBotones{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        position: absolute;
        width: 688px;
        height: 67px;
        left: 40px;
        top: 870px;
    }


    .rectangulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        position: absolute;
        width: 688px;
        height: 133px;
        left: 40px;
        top: 1001px;
    }

    .ningunMensajeEncontrado{
        display: flex;
        flex-direction: column; 
        width: 624px;
        justify-content: center;
    }

    .mensajeRecuadro{
        width: 100%;
        height: 100%;
    }

    .muñeco{
        display: none;
    }


    .rectangulo2{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        position: absolute;
        width: 688px;
        height: 343px;
        left: 40px;
        top: 1001px;
    }

    .botonCopiar{
        width: 624px;
        height: 67px;
        padding: 24px;
    }
}

@media (max-width: 768px){
    body{
        background: rgb(243, 245, 252);
        position: relative;
        width: 375px;
        height: 933px;
        left: 0px;
        right: 0px;
    }

    header{
        display: block;
        position: absolute;
        left: 16px;
        right: 90.74%;
        top: 24px;
    }

    .ingreseTextoAqui{
        width: 343px;
        height: 48px;
        top: 152px;
        left: 16px;
    }

    .contenedorAdvertencia{
        top: 451px;
        left: 16px;
    }

    .contenedorBotones{
        height: 158px;
        top: 485px;
        left: 16px;
        flex-direction: column;
    }

    .rectangulo{
        width: 327px;
        height: 186px;
        top: 707px;
        left: 24px;
    }

    .ningunMensajeEncontrado{
        width: 263px;
    }

    .mensajeRecuadro{
        width: 263px;
    }

    .rectangulo2{
        position: absolute;
        width: 343px;
        height: 595px;
        left: 16px;
        top: 707px;
    }

    .botonCopiar{
        width: 279px;
    }
}